body {
    font-family: verdana;
  }
nav {
    display: flex;
    justify-content: space-around;
    background-color: dodgerblue;
    padding: 5px
}
.active {
    background-color: tomato;
    border: black solid 1px;
    padding:5px
}

#form {
  text-align: center;
  padding: 15px;
}
